<%- include("header") -%>

<h2> This is the about page</h2>

<p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum sequi alias in deserunt eos, odit praesentium non corporis, tempore quod porro qui vel, dignissimos placeat veritatis? Sit numquam nobis fugit.

</p>
<%- include("footer") -%>